body.activities-page {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #fdfdfd;
}

header h1 {
    background-color: rgb(145, 9, 30);
    color: white; 
    padding: 15px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
}

main {
    margin-top: 120px; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
}

main h3 {
    border-left: 10px solid #640016; 
    border-top: 3px dotted #640016;
    border-right: 3px dotted #640016;
    border-bottom: 3px dotted #640016;
    padding: 10px;
    width: 60%;
    background-color: #fff8f8;
}

p.special-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 0.9em;
}

img {
    transition: filter 0.3s;
}

img:hover {
    filter: brightness(0.75);
}

body.activities-page a:link {
    color: darkgreen;   
    text-decoration: none;
}

body.activities-page a:visited {
    color: gray;       
}

body.activities-page a:hover {
    text-decoration: underline;
}

/* === Карусель === */
.carousel-container {
    width: 100%;
    height: 20vh; 
    position: relative;
    overflow: hidden;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.carousel-slide {
    display: none;
    height: 100%;
    width: auto;
    object-fit: cover;
    animation: fadeEffect 1s;
}

.carousel-slide.active {
    display: block;
}

@keyframes fadeEffect {
    from {opacity: 0.4}
    to {opacity: 1}
}

.search-wrapper {
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f7f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon {
    font-size: 1.2em;
}

#searchInput {
    padding: 8px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.hidden-item {
    display: none !important;
}

.direction-list-item {
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.direction-list-item {
    scroll-margin-top: 140px;
}